---
path: gifliberry
---
<html>
<head><title>Index of /{{ page.path }}</title></head>
<body bgcolor="white">
<h1>Index of /{{ page.path }}</h1>
<hr>

<table>
  <tbody>
    <th>Name</th>
    <th>Last Modified</th>
  </tbody>
  {% for image in site.static_files %}
    {% if image.extname contains '.gif' or image.extname contains '.png' or image.extname contains '.jpg' or image.extname contains '.jpeg' %}
      <tr>
        <td><a href="{{ image.path }}">{{ image.path }}</a></td>
        <td>{{ image.modified_time }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>

<p><small>Powered by <a href="https://github.com/commondream/gifliberry-starter-pack">gifliberry</a></small></p>

</body>
</html>
